body {
  margin: 0;
  font-family: Inter, sans-serif, Arial, Helvetica;
  font-size: 16px;
}

* {
  color: #123c69;
}

button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.app {
  min-height: 100vh;
  background-color: #eee2dc;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  transition: all 0.2s;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 520px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 690px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 920px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1280px;
    padding: 0 20px;
  }
}
.main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-flow: column;
  padding-top: 80px;
}

.content {
  display: flex;
  flex-shrink: 1;
}

.calendar {
  flex-grow: 1;
  display: flex;
  position: relative;
  gap: 10px;
  padding: 30px;
  background-color: #fffafa;
  border-radius: 10px 0 0 10px;
}
.calendar__title {
  display: flex;
  justify-content: center;
}
.calendar__title_hidden {
  display: none;
}
.calendar__body {
  flex-grow: 1;
}
.calendar__header {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.calendar__weekday-container {
  flex-grow: 1;
  list-style: none;
}
.calendar__weekday-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 20px;
}
.calendar__table {
  display: grid;
  grid-template-columns: [first] auto [second] auto [third] auto [fourth] auto [fifth] auto [sixth] auto [seventh] auto;
  gap: 10px;
  padding: 0;
  margin-bottom: 0;
}
.calendar__day {
  margin: 0 auto;
  list-style: none;
  width: 100%;
}
.calendar__side-btn {
  padding: 20px 15px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.calendar__side-btn:hover {
  background-color: #e5e4e2;
}

.title {
  position: relative;
}
.title__month {
  position: relative;
  min-width: 150px;
  text-align: center;
  margin: 0;
  padding: 5px 15px;
  align-self: center;
}
.title__month_prev {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fade-out-left-enter {
  opacity: 1;
}

.fade-out-left-exit {
  opacity: 0;
  transform: translateX(-120%);
  transition: all 500ms;
}

.fade-out-right-enter {
  opacity: 1;
}

.fade-out-right-exit {
  opacity: 0;
  transform: translateX(20%);
  transition: all 500ms;
}

.fade-in-left-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-in-left-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.fade-in-right-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-in-right-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.day {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #eee2dc;
  transition: all 0.3s;
}
.day_current {
  background-color: #fadadd;
}
.day_unactive {
  background-color: #e5e4e2;
}
.day_active {
  background-color: #ac3b61;
}

.side-btn__icon {
  width: 16px;
}

.menu {
  min-width: 30%;
  background-color: #fffafa;
  border-radius: 0 10px 10px 0;
  padding: 20px 30px;
}
.menu__header {
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=index.css.map */
